page-verifyTouchId {
  .main-content {
    height: 90%;
    ion-item {
      background: map-get($colors, input-background);
      border: solid 1px map-get($colors, primary);
      border-radius: 10px;
      .item-inner {
        border-bottom: 0 !important;
      }
    }
    p {
      width: 100%;
    }
    ion-item-divider.item-block {
      min-height: 0;
    }
    ion-input {
      border: solid 1px #cccccc;
      padding: 20px 10px;
      font-size: 30px;
      .text-input {
        margin: 5px 0;
      }
    }
    ion-item-divider {
      padding-left: 5px;
      background: transparent;
    }
  }
  .footer-content {
    height: 10%;
  }
  .button-md,
  .button-ios {
    font-size: 1.6rem !important;
    text-transform: initial;
    width: 100%;
    margin: 0.4rem 0;
  }
}