<ion-content>
  <ion-grid class="content-wrapper">
    <ion-row text-center class="p-t-20 p-b-20">
      <ion-col>
        <img class="l2s-logo" src="assets/images/l2s-logo.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p class="text-14 p-t-20 p-b-30" text-center>{{create_print_ID}}</p>
        <ion-row>
          <p class="text-14" text-center>{{reset_fingerprint}}</p>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row>
          <ion-col text-center>
            <ion-img src="assets/images/finger-thumb.png" width="80" height="110"></ion-img>
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row *ngIf="!fingerprintVerified">
          <ion-col text-center (click)="skipTouchIDSetup()">
            <span text-uppercase>{{skip_id_setup}}</span>
            <ion-icon name="ios-arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="fingerprintVerified === true">
          <ion-col text-center>
            <h6>Scan completed!</h6>
            <p text-center>{{use_of_fingerprint}}</p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-row class="footer-wrapper">
    <ion-col>
      <button ion-button large block [disabled]="!fingerprintVerified" (click)="submitRegisterData()">Next</button>
    </ion-col>
  </ion-row>
</ion-content>