page-forgotPasswordSuccess {
  .reset-button {
    position: fixed;
    bottom: 20px;
  }


  button.back-button{
    display: none !important;
  }

  .fixed-content, .scroll-content {
    margin-top: 0px !important;
  }
}
