@import "../../../../../theme/colors";

page-checkBalanceStep1 {
  .form-balance--container {
    .item-inner {
      padding-right: 0;
      .input-wrapper {
        padding-right: 10px;
      }
      .item-icon {
        margin-right: 0
      }
    }
  }
  ion-item-divider {
    width: calc(100% - 39px) !important;
    margin-top: -1px !important;
  }

}