.ios,
.md {
  page-moreInformation {
    .list {
      margin: 0;
      .item-block {
        border-top: none !important;
        padding-left: 0 !important;

        .item-inner {
          padding-right: 0;
        }

        .label {
          flex: none;
          width: 95%;
          margin: 11px auto;
          padding: 0 10px;
          line-height: 21px;
          color: map-get($colors, primary);
        }
      }
    }

    ion-item-divider.item.item-block {
      padding: 0;
      background: #d4d4d4 !important;
      min-height: 22px;
      margin-top: -1px;
    }

    .scroll-content {
      width: 100%;
      padding: 0 !important;
    }
  }
}
