$colors: (
  primary-pink: #e50b79,
  primary-pink-dark: #B72661,
  primary-green: #009489,
  primary-green-dark: #1F5436,
  primary-blue: #016A8A,
  primary: #666666,
  primary-boder: #d7d7d7,
  primary-background-error: #ffe3e3,
  secondary: #333,
  secondary-aero-blue: #C4F1EE,
  secondary-aero-blue-ligth: #F1F9FE,

  red-ca: #FF0000,
  input-background: #fffde9,
  grey-lighter: #EAEAEA,
  grey-lighter2: #e1e1e1,
  pink-basket: #E50B79,
  link-text-color: #00AAFF,

);





