<ion-header>
  <ion-navbar>
    <ion-title>
      Filters
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="content-wrapper">
    <ion-row class="main-content">
      <ion-list>
        <ion-item [ngClass]="{'active': cat.selected}" *ngFor="let cat of categories; let i = index" (click)="toggleCategory(i, $event)">
          <ion-label item-center>{{ cat.displayName }}</ion-label>
          <ion-icon item-end *ngIf="cat.selected" name="ios-checkmark"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
  <ion-row class="footer-wrapper">
    <ion-col>
        <button [disabled]="!valid" ion-button full large (click)="filterByCategory()">Apply</button>    
    </ion-col>
  </ion-row>



  <ion-row style="display: none;" 
  (click)="navCtrl.pop()"
  id="CategoryStoresPage-back-button">
  </ion-row>
</ion-content>
