page-changeCard {
  .scroll-content {
    padding-top: 0;
    margin-bottom: 56px !important;
  }
  .ion-content {
    margin-top: 64px;
  }
  .txt-intro {
    background: map-get($colors, primary-green);
    p {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center;
      color: #fff;
    }
  }
  .list-cards {
    .list {
      width: 100%;
      margin: 0;
      ion-label.label {
        margin: 5px 8px 5px 0;
      }
      .item-block {
        border-bottom: 1px solid map-get($colors, primary-green);
        &.even {
          background: map-get($colors, secondary-aero-blue-ligth);
        }
        &.odd {
          background: #fff;
        }
      }

      .icon-md {
        position: absolute !important;
        top: 50%;
        transform: translateY(-50%);
      }

      .card-thumb {
        position: absolute !important;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .card-title {
        width: 100%;
        white-space: normal;
        overflow: hidden;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0
        .2em;
        text-transform: uppercase;
        color: map-get($colors, primary-blue);
      }
      .card-subtitle {
        color: map-get($colors, primary);
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.ios {
  page-changeCard {
    .scroll-content {
      margin-bottom: 49px !important;
    }
  }
}