@import "../../../../theme/colors";

page-changePassword {

  .information-panel {
    .item.item-block .item-inner {
      padding-right: 0;
      background: map-get($colors, secondary-aero-blue-ligth);
    }
    .input-wrapper {
      padding: 10px 15px;
      background: map-get($colors, background);
    }
    div {
      font-size: 1.4rem;
      ul {
        list-style: none;
        padding-left: 0;
        margin: 5px 0 ;
        li {
          font-family: 'OpenSans-Bold';
          white-space: normal !important;
          margin-bottom: 2px;
          position: relative;
          padding-left: 10px;

          &:before {
            content: '- ';
            position: absolute;
            left: 0;
          }

          strong {
            font-family: 'OpenSans-Bold', sans-serif;
          }
        }
      }
    }
  }

  .item.item-block {
    &.item-label-floating,
    &.item-label-stacked {
      ion-input {
        .text-input, .input-ios {
          background: none !important;
        }
      }
    }
  }
  .label {
    color: map-get($colors, primary);
  }
}
.alert-sub-title {
  color: map-get($colors, primary);
}
