<ion-header>
  <ion-navbar>
    <ion-title>
      Change Password
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid class="content-wrapper p-t-20">
    <ion-row>
      <ion-col>
        <form [formGroup]="changePasswordForm">
          <ion-row class="m-b-15">
            <ion-item>
              <ion-label floating>Old Password</ion-label>
              <ion-input name="oldPassword" type="password" formControlName="oldPassword"></ion-input>
            </ion-item>
            <ion-item-divider ion-item light no-lines class="error"
                              *ngIf="changePasswordForm.get('oldPassword').dirty && !changePasswordForm.get('oldPassword').valid">
              <p>{{errorMessage('oldPassword')}}</p>
            </ion-item-divider>
          </ion-row>

          <ion-row class="m-b-15">
            <ion-item>
              <ion-label floating>New Password</ion-label>
              <ion-input name="newPassword" type="password" formControlName="newPassword"></ion-input>
            </ion-item>

            <ion-item-divider ion-item light no-lines class="error"
                              *ngIf="changePasswordForm.get('newPassword').dirty && !changePasswordForm.get('newPassword').valid">
              <p>{{errorMessage('newPassword')}}</p>
            </ion-item-divider>
          </ion-row>

          <ion-row class="m-b-15">
            <ion-item>
              <ion-label floating>Confirm New Password</ion-label>
              <ion-input name="confirmNewPassword" type="password" formControlName="confirmNewPassword"></ion-input>
            </ion-item>
            <ion-item-divider ion-item light no-lines class="error"
                              *ngIf="changePasswordForm.get('confirmNewPassword').dirty && !changePasswordForm.get('confirmNewPassword').valid">
              <p>{{errorMessage('confirmNewPassword')}}</p>
            </ion-item-divider>
          </ion-row>

           <ion-row class="information-panel m-b-35" *ngIf="this.model.passwordPolicy.length > 0">
            <ion-item class="p-l-0 p-r-0">
              <div class="text-14"  [innerHTML]="this.model.passwordPolicy">
              </div>
            </ion-item>
          </ion-row>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="footer-wrapper">
    <ion-row>
      <ion-col>
          <button ion-button large block [disabled]="disableUpdateButton()" (click)="updatePassword()">Save</button>          
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>

          
<ion-row style="display: none;" 
(click)="navCtrl.pop()"
id="ChangePasswordPage-back-button">
</ion-row>