<ion-header *ngIf="checkIsLogin()" class="store-map-logged">
  <ion-navbar>
    <ion-buttons left >
      <button  ion-button icon-only (click)="gotoPreviousPage()">
        <ion-icon name="ios-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title >
      WHERE TO SPEND
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-header *ngIf="!checkIsLogin()">
  <ion-navbar>
    <ion-title >
      STORES
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-row *ngIf="checkIsLogin()" class="card-info">
    <ion-item>
      <ion-row>
        <ion-col col-2>
          <img [src]="imageBaseUrl + card?.cardLogoPath" alt='card logo' />
        </ion-col>
        <ion-col class="card-content" padding col-7>
          <div>
            <h2 class="card-title">{{ card?.nickname }}&nbsp;</h2>
            <h3>{{ card?.propositionName }}</h3>
          </div>
        </ion-col>
        <ion-col class="card-action" col-3>
          <span class="link" (click)="gotoChangeCard()">
                  Change card
            </span>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-row>
  <ion-row *ngIf="checkIsLogin()" class="card-stores">
    <ion-col col-6 no-padding>
      <button ion-button full no-margin no-padding (click)="gotoInStorePage()" class="left">IN-STORE</button>
    </ion-col>
    <ion-col col-6 no-padding>
      <button ion-button full no-margin no-padding class="active right">ONLINE</button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!checkIsLogin()" class="card-stores three-em">
    <ion-col col-4 no-padding>
      <button ion-button full no-margin no-padding (click)="gotoInStorePage()" class="left">Love2shop<br>In-store</button>
    </ion-col>
    <ion-col col-4 no-padding>
      <button ion-button full no-margin no-padding class="active mid">Love2shop<br>Online</button>
    </ion-col>
    <ion-col col-4 no-padding>
      <button ion-button full no-margin no-padding (click)="gotoVirtalMsCard()" class="right">Virtual<br>Mastercard</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col padding>
        <ion-row no-padding class="list-stores-online" no-padding no-margin *ngFor="let storeItem of retailers" (click)="onStoreClick(storeItem)">
            <ion-col col-3>
              <img class="store-logo"[src]="imageBaseUrl + storeItem.imagePath" />
            </ion-col>
            <ion-col col-9 padding class="p-l-10">
              <h5 class="store-title">{{ storeItem.name }}</h5>
              <button class="store-link" (click)="onStoreClick(storeItem)">
                  <div class="sm">Visit {{ storeItem.name }} online</div>
                  <div class="icon">
                    <ion-icon name="ios-arrow-forward"></ion-icon>
                  </div>
              </button>
            </ion-col>
          </ion-row>
    </ion-col>
  </ion-row>

  <ion-row style="display: none;" 
  (click)="gotoPreviousPage()"
  id="Where2SpendOnlinePage-back-button">
  </ion-row>
</ion-content>