@import "../../../../../theme/colors";
page-addCardSainsburys {
  .scroll-content {
    ion-icon {
      font-size: 2.7rem;
      width: 3rem;
      text-align: center;
    }
    ion-item {
      &.item {
        padding-left: 0;
        max-height: 44px;
      }
    }
    .item.item-block {
      .item-inner {
        padding-right: 0;
        .icon {
          margin-right: 0;
        }
        .input-wrapper {
          padding-right: 10px;
        }

      }

      &.item-has-not-icon {
        .item-inner {
          .input-wrapper {
            padding-right: 0;
          }
        }
      }
      .text-input {
        border: solid 1px #bbbbbb;
        padding: 10px;
        margin: 0;
        @include border-radius(3px);
        width: 100%;
      }
    }
    ion-item-divider, .input--short {
      width: calc(100% - 40px);
    }
  }

  .alert-help {
    .alert-wrapper {
      .alert-button-group {
        width: 50%;
      }
    }
  }

  .alert-added-successful {
    .alert-wrapper {
      .alert-message {
        padding-bottom: 30px;
      }
      .alert-button-group {
        width: 80%;
      }
    }
  }

  .alert-wrapper {
    .alert-head {
      .alert-title {
        margin: 20px 0;
      }
      .alert-sub-title {
        margin: 0 0 0 10px;
        font-size: 16px;
        color: initial;
      }
    }
    .alert-message {
      padding-bottom: 30px;
      p {
        margin: 10px;
        font-size: 16px;
      }
    }
    .alert-button-group {
      border: none;
      margin: 0 10px;
      padding-bottom: 25px;
      .alert-button {
        background: #656565;
        color: #fff;
        width: 100%;
      }
    }
  }
}
