@import "../../../../theme/colors";

page-verifyPIN.ion-page {

  .l2s-alert--default .alert-wrapper .alert-button {
    box-shadow: none !important;
    margin-bottom: 0;
  }

  .fixed-content, .scroll-content {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  z-index: 1000 !important;
  h2 {
    margin: 0 auto;
  }
  .main-content {
    ion-grid {
      margin-top: 25%;
    }
    min-height: calc(100% - 50px);
    ion-item {
      background: map-get($colors, input-background);
      border: solid 1px map-get($colors, primary);
      border-radius: 10px;
      .item-inner {
        border-bottom: 0 !important;
      }
    }
    p {
      width: 100%;
      font-size: 16px;
    }
    ion-item-divider.item-block {
      min-height: 0;
    }
    ion-input {
      font-size: 30px;
      background: none !important;
      .text-input {
        border: solid 1px map-get($colors, primary);
        padding: 16px 10px;
        margin: 13px 5px;
        width: calc(100% - 5px - 5px) !important;
      }
    }
    ion-item-divider {
      padding-left: 5px;
      background: transparent;
    }
  }
  .footer-content {
    height: 50px;
  }
  .button-md,
  .button-ios {
    font-size: 1.6rem !important;
    text-transform: initial;
    width: 100%;
    margin: 0.4rem 0;
  }
  p span {
    color: map_get($colors, primary)
  }
  .item {
    &.error {
      border-top: 1px solid map-get($colors, red-ca) !important;
      width: auto;

      &:last-of-type {
        margin-top: -1px;
      }
    }
  }
}

@media screen and(max-width: 767px) {
  //.verify--container {
  //  &.inputFocusIn {
  //    margin-top: -100px !important;
  //  }
  //}
}